.box{
    width: 100px;
    height: 100px;
}
.red{
    color: red;
}
.center{
    display:block;
    margin:auto;
}
.section{
    border: 1px solid black;
}

.element-animation{
    opacity: 0.4;
}
.element-animation.show-animation{
    opacity: 1;
    transition: opacity 1s;
}